.model-parent {
     top: 0;
     position: fixed;
     z-index: 1;
     width: 100%;
     height: 100vh;
     background-color: rgba(0, 0, 0, .6) !important;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     visibility: hidden;
     transition: .4s;
}
.model-parent.active{
     opacity: 1;
     visibility: visible;
}

.delete-modal{
     width: 350px;
     height: 170px;
     background-color:var(--white);
     border-radius: 10px;
     padding: 20px;
}
.delete-modal-btns{
     width: 80%;
     display: flex;
     justify-content: space-between;
     margin-top: 70px;
}
.delete-btn {
     color: white;
     border: none;
     padding: 9px 12px;
     border-radius: 4px;
}
.accept-btn{
     background-color: rgb(44, 215, 96);
}
.reject-btn {
     background: rgb(250, 43, 43);
}