.detail-modal-body {
     border-radius: 10px;
     padding: 50px;
     width: 60%;
     min-height: 30vh;
     background-color: var(--white);
}

.detail-modal-title {
     font-size: 25px;
     margin-bottom: 20px;
}

.detail-modal-price {
     line-height: 28px;
     margin-bottom: 15px;

}

.skip-modal-btn {
     outline: none;
     border: none;
     margin-top: 20px;
     background-color: var(--blue);
     color: var(--white);
     border-radius: 4px;
     padding: 10px 15px;
}

.orgBtn{
     width: 25px;
     height: 25px;
     border: none;
     outline: none;
     margin-inline: 8px;
     border-radius: 50%;
}

.orgBtn.red {
     background-color: rgb(238, 45, 45);
    
}

.orgBtn.blue {
     background-color: var(--blue);
     
}

.orgBtn.gray {
     background-color: gray;
    
}

.orgBtn.green {
     background-color: rgb(5, 120, 5);
    
}