.Edit-modal-body{
     border-radius: 10px;
     background-color: var(--white);
     padding: 50px;
     width: 24%;
     min-height:40vh ;
}
.Edit-modal-title{
     font-size: 25px;
}
.Edit-modal-btn{
     border: none;
     outline: none;
     color: var(--white);
     padding: 8px 10px;
     margin: 40px 20px 20px 0px;
     border-radius: 5px;
}
.Edit-modal-btn.submit{
     background-color: rgb(46, 208, 46);
}
.Edit-modal-btn.close{
     background-color: red;
}
/* children */
.input-box{
     width: 100%;
     margin-top: 20px;
     padding-right: 8px;
     background-color: var(--white-50);
     border-radius: 6px;
     padding: 8px 8px 8px 0px;
}
.data-input{
     padding-right: 8px;
     border: 0px;
     outline: 0px;
     background-color: var(--white-50);
}